<footer class="page-footer brown darken-3">
  <div class="container">
    <div class="row">
      <div class="col l2 s4 center">
        <h5 class="white-text">Empresa</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/sobre"><span>Quem somos</span></a></li>
          <li><a class="grey-text text-lighten-3" routerLink="#!"><span>Trabalhe conosco</span></a></li>
        </ul>
      </div>
      <div class="col l2 s4 offset-l3 center">
        <h5 class="white-text">Loja física</h5>
        <ul>
          <li>Rua Alguma Coisa, 957<br>Centro - RJ</li>
        </ul>
      </div>
      <div class="col l2 s4 offset-l3 center">
        <h5 class="white-text">Redes Sociais</h5>
          <a class="grey-text text-lighten-3" href="#!"><img class="icon" src="/assets/img/facebook.svg" alt="facebook"></a>
          <a class="grey-text text-lighten-3" href="#!"><img class="icon" src="/assets/img/twitter.svg" alt="twitter"></a>
          <a class="grey-text text-lighten-3" href="#!"><img class="icon" src="/assets/img/instagram.svg" alt="instagram"></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Stephanie Orazem
    <a class="grey-text text-lighten-4 right" href="https://ejcm.com.br"><span>EJCM</span></a>
    </div>
  </div>
</footer>
