body {
  background-color: white;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

small {
  margin: 0 auto;
  text-align: center;
  display: block;
  font-size: 0.9rem;
}

small p {
  margin-top: 2rem;
}

h2 {
  color: #133046;
  font-family: 'Clicker Script', cursive;
  font-size: 2.5rem;
}

.icon {
  width: 4rem;
}

.user {
  padding: 5rem 0;
  width: 400px;
}

.btn {
  display: block;
  border-radius: 30px;
  border: 1px solid #15959F;
  margin: 0 auto;
  color: #15959F;
  background-color: white;
  padding: 0 17%;
  vertical-align: middle;
  cursor: pointer;
}
