<body>
  <app-navbar></app-navbar>
  <section>
    <div class="head">
    </div>
    <div class="about">
      <div class="row about2 center">
        <h2>Sobre a Lunar Puzzles</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae massa congue, mattis purus in, eleifend metus. Donec quis consequat lectus, sit amet elementum erat. Mauris id molestie magna. Phasellus sed suscipit urna, at interdum nulla. Aenean lobortis sed mauris tincidunt molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sit amet ultrices risus, et sodales mauris. Duis nec lacus elementum, feugiat mi in, vulputate ex. Curabitur sed diam feugiat, ultricies ex sed, efficitur eros.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae massa congue, mattis purus in, eleifend metus. Donec quis consequat lectus, sit amet elementum erat. Mauris id molestie magna. Phasellus sed suscipit urna, at interdum nulla. Aenean lobortis sed mauris tincidunt molestie.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row about2">
      <div class="col s10 m10 l10 offset-s1 offset-m1 offset-l1 center">
        <img class="icon" src="/assets/img/medal.svg">
        <h2>Peças de alta qualidade</h2>
        <p>Nossos quebra-cabeças são desenvolvidos para serem resistentes, com os melhores materiais e um procedimento preciso.</p>
        <p>Além disso, as artes são impressas com as cores do sistema CMYK e deixam qualquer um espantado com a beleza delas.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col s10 m10 l10 offset-s1 offset-m1 offset-l1 center">
        <img class="icon" src="/assets/img/artist.svg">
        <h2>Trabalhamos com artistas freelancers</h2>
        <p>Já imaginou montar um quebra-cabeça feito pelo seu artista favorito?</p>
        <p>Entramos em contato com artistas do mundo todo oferecendo a oportunidade de criar algo incrível!</p>
      </div>
    </div>
  </section>
</body>
