<nav class="z-depth-0" [ngClass]="{
  'transparent': checkRoute(),
  'azul': !checkRoute()
 }">
   <div class="nav-wrapper">
     <a routerLink="/home" class="brand-logo"><img class="icon" src="/assets/img/puzzle.svg">Lunar Puzzles</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
       <li routerLinkActive="active"><a routerLink="/sobre">Sobre Nós</a></li>
       <li routerLinkActive="active"><a routerLink="/contato">Contato</a></li>
       <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
     </ul>
   </div>
 </nav>
