<!--The content below is only a placeholder and can be replaced.-->
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</body>
