<body>
  <app-navbar></app-navbar>
  <section class="data">
    <div class="row white">
      <div class="col s10 m10 l10 offset-s1 offset-m1 offset-l1 left">
        <h2>Uma nova aventura a cada quebra-cabeça</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec ante sem. Proin interdum, leo quis blandit porta, odio tortor varius ligula, et bibendum lorem risus sed ex. Nam vitae felis venenatis, sollicitudin ipsum ut, fringilla sem. Praesent facilisis, ligula gravida volutpat placerat, enim ipsum tempus mi, ac laoreet erat elit id nisi. Fusce non cursus magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim nunc at orci suscipit porttitor. Sed convallis ultrices lacus. Maecenas varius rutrum est et pulvinar. Nullam pellentesque justo ligula, vitae dictum ligula commodo ac.</p>
      </div>
    </div>
  </section>
  <section class="data">
    <div class="row">
      <div class="col s10 m10 l10 offset-s1 offset-m1 offset-l1 left">
        <h2>Parceria com artistas do mundo todo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec ante sem. Proin interdum, leo quis blandit porta, odio tortor varius ligula, et bibendum lorem risus sed ex. Nam vitae felis venenatis, sollicitudin ipsum ut, fringilla sem. Praesent facilisis, ligula gravida volutpat placerat, enim ipsum tempus mi, ac laoreet erat elit id nisi. Fusce non cursus magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim nunc at orci suscipit porttitor. Sed convallis ultrices lacus. Maecenas varius rutrum est et pulvinar. Nullam pellentesque justo ligula, vitae dictum ligula commodo ac.</p>
      </div>
    </div>
  </section>
  <section class="estilos">
    <div class="row white">
      <div class="col s10 m10 l10 offset-s1 offset-m1 offset-l1 left">
        <h2>Escolha seu estilo</h2>
        <div class="row style">
          <div class="col s12 m6 l4">
            <div class="card white">
              <div class="card-image">
                <img src="assets/img/b2.jpg">
              </div>
              <div class="card-content center">
                <p>Premium</p>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l4">
            <div class="card white">
              <div class="card-image">
                <img src="assets/img/b2.jpg">
              </div>
              <div class="card-content center">
                <p>Paisagens</p>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l4">
            <div class="card white">
              <div class="card-image">
                <img src="assets/img/b2.jpg">
              </div>
              <div class="card-content center">
                <p>Para crianças</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
